.header {
  text-align: center;
}

.nav {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > textarea {
  flex: auto;
  max-width: 100%;
  min-width: 300px;
  height: 80vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
  outline: black solid 0.01px;
}

.right-arrow {
  margin: auto 2px;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}